<% content_for :title, "OTB - Own their backgrounds" %>

<div class="ds-home">
  <div class="ds-home__collage" aria-hidden="true">
    <% 24.times do |i| %>
      <div class="ds-home__collage-tile" style="--i: <%= i %>">
        <img src="https://picsum.photos/seed/<%= ['lifestyle', 'aesthetic', 'mood', 'vibe', 'style', 'photo'][i % 6] %>-<%= i %>/400/300" alt="" loading="lazy" />
      </div>
    <% end %>
  </div>

  <div class="ds-home__content">
    <div class="ds-home__logo">
      <%= image_tag "otb-logo.png", alt: "OTB", width: 120, height: 120 %>
    </div>
    <h1 class="ds-home__title">OTB</h1>
    <p class="ds-home__tagline">Own their backgrounds</p>
  </div>
</div>
