<%# locals: (field_prefix:, row_id:, sanction:, photos:) %>
<% allowed = BetaEvents::SourceRegistry.allowed_for(:strava_goal, :failed_penalty) %>
<% sanction_set = sanction.is_a?(SanctionSet) ? sanction : SanctionSet.from_hash(sanction || {}, allowed: allowed) %>
<% photos ||= [] %>

<div class="ds-form-group ds-strava-leverage-sanctions" id="<%= row_id %>_wrap">
  <p class="ds-form-label"><%= t("beta.strava.leverage_sanctions_title") %></p>
  <p class="ds-beta-control-hint"><%= t("beta.strava.leverage_sanctions_hint") %></p>

  <%= render "sanction_set_fields",
        field_prefix: field_prefix,
        sanction_set: sanction_set,
        allowed_possibility_ids: allowed,
        photos: photos %>
</div>
