<%# locals: (field_prefix:, sanction:, delay_field:, delay_value:, show_delay: true, delay_container_data: {}) %>
<% allowed = BetaEvents::SourceRegistry.allowed_for(:wallpaper, :default).dup %>
<% show_leverage = local_assigns.fetch(:show_leverage) { @leverage_action_enabled } %>
<% unless show_leverage %>
  <% allowed.reject! { |pid| BetaEvents::ActionRegistry.find(pid)&.catalog_id == "leverage_photo" } %>
<% end %>
<% sanction_obj = SanctionSet.from_hash(sanction, allowed: allowed) %>
<% leverage_photos = local_assigns.fetch(:leverage_photos) { @leverage_photos } %>

<% if show_delay %>
  <div class="ds-form-group" <%= tag.attributes(delay_container_data) if delay_container_data.present? %>>
    <%= label_tag delay_field, t("beta.wallpaper_source.delay_minutes"), class: "ds-form-label" %>
    <%= number_field_tag delay_field, delay_value, min: 0, class: "ds-input" %>
  </div>
<% end %>

<%= render "sanction_set_fields",
      field_prefix: field_prefix,
      sanction_set: sanction_obj,
      allowed_possibility_ids: allowed,
      photos: leverage_photos %>
