<% content_for :title, t("beta.pishock.page_title", nickname: current_user.nickname) %>

<header class="ds-beta-page-head">
  <h1 class="ds-beta-page-title"><%= t("beta.pishock.heading") %></h1>
  <p class="ds-beta-page-lead">
    <%= t("beta.pishock.lead") %>
  </p>
</header>

<%= render "settings_pishock" %>
