<% content_for :title, t("beta.actions_chaster.page_title", nickname: current_user.nickname) %>

<header class="ds-beta-page-head">
  <h1 class="ds-beta-page-title">Chaster</h1>
  <p class="ds-beta-page-lead">
    <%= t("beta.actions_chaster.lead") %>
  </p>
</header>

<%= render "actions_chaster" %>
