<% content_for :title, t("beta.showcase_source.page_title", nickname: current_user.nickname) %>

<header class="ds-beta-page-head">
  <h1 class="ds-beta-page-title"><%= t("beta.showcase_source.heading") %></h1>
  <p class="ds-beta-page-lead">
    <%= t("beta.showcase_source.lead") %>
  </p>
</header>

<%= render "settings_showcase" %>
