<%# locals: photo %>
<section class="ds-beta-leverage-panel ds-beta-leverage-panel--danger">
  <h3 class="ds-beta-leverage-panel__title"><%= t("leverage_photo.show.danger_zone_title") %></h3>
  <%= render "beta_leverage_photo/delete_actions", photo: photo %>
</section>
